{% extends 'base.html.twig' %}

{% block title %}Ajouter une Catégorie{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle catégorie</h1>
    <form method="POST" action="/awa-exotique/index.php/create">
        <label for="name">Nom de la catégorie :</label>
        <input type="text" name="name" id="name" required>
        
        <!-- Inclure le token CSRF -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        
        <button type="submit">Ajouter</button>
    </form>

{% endblock %}
