{% extends 'base.html.twig' %}

{% block title %}Supprimer la Catégorie{% endblock %}

 {% block content %}
    <h1>Confirmer la suppression</h1>
    <form method="POST" action="/awa-exotique/delete?id={{ category.id }}">
        <p>Êtes-vous sûr de vouloir supprimer cette catégorie ?</p>
        
        <!-- Inclure le token CSRF -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        
        <button type="submit">Supprimer</button>
    </form>

{% endblock %}
