{% extends 'base.html.twig' %}

{% block title %}Modifier la Catégorie{% endblock %}

 {% block content %}
    <h1>Modifier la catégorie : {{ category.name }}</h1>
    <form method="POST" action="/awa-exotique/edit?id={{ category.id }}">
        <label for="name">Nom de la catégorie :</label>
        <input type="text" name="name" id="name" value="{{ category.name }}" required>
        
        <!-- Inclure le token CSRF -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        
        <button type="submit">Modifier</button>
</form>
{% endblock %}
