{% extends 'base.html.twig' %}

{% block title %}
    Détails de la Catégorie
{% endblock %}

{% block content %}
    <h1>Détails de la Catégorie</h1>

    <h2>{{ category.name }}</h2>

    <p>
        ID de la catégorie : {{ category.id }} <br>
        Nom de la catégorie : {{ category.name }}
    </p>

    <a href="/awa-exotique/categories">Retour à la liste des catégories</a>
{% endblock %}
