{% extends 'base.html.twig' %}

{% block title %}Erreur 404 - Page non trouvée{% endblock %}

{% block body %}
    <h1>Erreur 404</h1>
    <p>{{ error }}</p>
    <br><a href="/products">Retour à la liste des produits</a>
{% endblock %}
