{% extends 'base.html.twig' %}

{% block title %}
    Supprimer le Produit
{% endblock %}

{% block content %}
    <h1>Supprimer le Produit</h1>

    <p>Êtes-vous sûr de vouloir supprimer ce produit ?</p>

    <form method="POST" action="/awa-exotique/products/delete?id={{ id }}">
        <!-- Inclure le token CSRF -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        
        <button type="submit">Oui, supprimer</button>
        <a href="/awa-exotique/products">Annuler</a>
    </form>
{% endblock %}
