{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>
    
    <ul>
        {% for product in products %}
            <li>
                <a href="/products/{{ product.id }}">{{ product.name }}</a> - {{ product.price }}€
            </li>
        {% else %}
            <p>Aucun produit trouvé.</p>
        {% endfor %}
    </ul>
    
    <a href="/products/create">Ajouter un nouveau produit</a>
{% endblock %}
