{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block content %}
    <h2>Liste des produits</h2>

    <ul>
        {% for product in products %}
            <li>
                <a href="/products/{{ product.id }}">{{ product.name }}</a> - {{ product.price }} €
            </li>
        {% else %}
            <li>Aucun produit trouvé</li>
        {% endfor %}
    </ul>

    <a href="/products/add">Ajouter un produit</a>
{% endblock %}
