{% extends 'base.html.twig' %}

{% block title %}Détails du produit{% endblock %}

{% block content %}
    <h2>{{ product.name }}</h2>

    <p>Prix : {{ product.price }} €</p>
    <p>Description : {{ product.description }}</p>

    <a href="/products">Retour à la liste des produits</a>
{% endblock %}
