<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Awa Exotique{% endblock %}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/style.css"> <!-- Lien vers ton fichier CSS -->
    <link rel="stylesheet" href="/assets/styles/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Pour les icônes de la barre de navigation -->
</head>
<body>
    <!--<img class="vitrine" src="assets/images/store.jpg" alt="vitrine du magasin">-->
    <header>
        <div class="header-container">
                <!-- Navigation principale par-dessus l'image -->
                <nav class="navbar">
                    <ul>
                        <li><a href="?route=home">Accueil</a></li>
                        <li><a href="/products"><i class="fa-solid fa-bars"></i></a></li>
                        <!-- Lien utilisateur avec connexion/déconnexion -->
                        <li>
                            {% if user is defined %}
                                <a href="javascript:void(0)" title="Utilisateur">
                                    <i class="fas fa-user-circle"></i>
                                </a>
                                <!-- Menu déroulant si l'utilisateur est connecté -->
                                <div id="user-menu" class="dropdown">
                                    <a href="?route=profile">Profil</a>
                                    <a href="?route=logout">Déconnexion</a>
                                </div>
                            {% else %}
                                <a href="?route=login" title="Utilisateur">
                                    <i class="fas fa-user-circle"></i>
                                </a>
                            {% endif %}
                        </li>
                        <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="?route=contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
    </header>

    <main>
        {% if app.session.get('flash_message') %}
            <div class="alert alert-{{ app.session.get('flash_type') }}">
                {{ app.session.get('flash_message') }}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <p>Horaires d'ouverture : du mardi au samedi de 10h30 à 19h30</p>
            <p>Une question sur les produits ? Contactez-nous au 02 97 83 62 10</p>
        </div>
    </footer>
</body>
</html>