{% extends 'base.html.twig' %}

{% block content %}
<h1>Contactez-nous</h1>
    <p>Vous pouvez nous contacter via les informations suivantes :</p>
    <ul>
        <li>Email :  <a href="mailto:contact@awa-exotique.com">contact@awa-exotique.com</a></li>
        <li>Vous pouvez nous joindre au : 02 97 83 62 10</li>
        <li>Adresse : 123 Rue de l'Exotique, Paris, France</li>
    </ul>
{% endblock %}
