{% extends 'base.html.twig' %}

{% block title %}
    Créer une mise à jour de statut
{% endblock %}

{% block content %}
    <h1>Créer une nouvelle mise à jour de statut pour la commande {{ orderId }}</h1>

    <form method="POST" action="/awa-exotique/orders/{{ orderId }}/status/create">
        <label for="status">Nouveau statut :</label>
        <input type="text" name="status" id="status" required>

        <!-- Token CSRF pour la sécurité -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <button type="submit">Créer</button>
    </form>
{% endblock %}
