{% extends 'base.html.twig' %}

{% block title %}
    Changer le Mot de Passe
{% endblock %}

{% block content %}
    <h1>Changer le Mot de Passe</h1>

    <form method="POST" action="/awa-exotique/users/change-password?id={{ id }}">
        <label for="new_password">Nouveau Mot de Passe :</label>
        <input type="password" name="new_password" id="new_password" required>

        <!-- Inclure le token CSRF -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <button type="submit">Changer</button>
    </form>
{% endblock %}
